[package]
name = "bubble_universe"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
wasm-bindgen = "0.2.105"
web-sys = { version = "0.3.82", features = ["console"] }
