@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Audiowide", sans-serif;
}

#root {
	background: black;
	width: 100vw;
	height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.console {
	position: absolute;
	top: 2vw;
	right: 2vw;
	display: flex;
	gap: 24px;

	.reset {
		display: flex;
		justify-content: center;
		align-items: center;
		user-select: none;

		button {
			background: transparent;
			outline: none;
			border: none;

			@media screen and (hover: hover) and (pointer: fine) {
				img:hover {
					animation: 1s linear infinite rotate;
				}
			}
		}
	}

	.inputs {
		display: flex;
		flex-direction: column;
		gap: 8px;

		div {
			display: flex;
			gap: inherit;
		}

		label {
			flex: 1;
			color: white;
		}

		input {
			flex: 2;
			accent-color: blueviolet;
		}
		#red-fac {
			accent-color: red;
		}
		#green-fac {
			accent-color: green;
		}
		#blue-fac {
			accent-color: blue;
		}
	}
}
