@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Audiowide", sans-serif;
}

#root {
	background: black;
	width: 100vw;
	height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.console {
	position: absolute;
	top: 2vw;
	right: 2vw;
	display: flex;
	flex-direction: column;
	gap: 12px;

	div {
		display: flex;
		gap: inherit;

		label {
			flex: 1;
			color: white;
		}

		input {
			flex: 2;
			accent-color: blueviolet;
		}
		#tau-div {
			accent-color: darkgoldenrod;
		}
		#red-fac {
			accent-color: red;
		}
		#green-fac {
			accent-color: green;
		}
		#blue-fac {
			accent-color: blue;
		}
	}
}
